<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Concerti Admin</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Pacifico" rel="stylesheet">
	<link href="~/css/admin.min.css" rel="stylesheet" />
	@RenderSection("head", false)
</head>
<body>
	<header class="header">
		<div class="header__logo">
			<a class="header__logo-link" href="@Url.RouteUrl("AdminIndex")">Concerti Admin</a>
		</div>
		<a href="#" class="header__toggle"><span class="fa fa-fw fa-bars"></span></a>
	</header>

	<nav class="nav">
		<a href="#" class="nav__toggle"><span class="fa fa-fw fa-close"></span></a>
		@Html.Action("Navigation", "Base")
	</nav>

	<main class="main">
		<h1 class="main__title">@ViewBag.Title</h1>

		<div class="main__body">
			@Html.Action("Alerts", "Base")


			@RenderBody()
		</div>
	</main>

	<script src="~/lib/require/require.min.js" data-main="/js/admin/admin"></script>
	@RenderSection("scripts", false)
</body>
</html>