@model Concerti.Website.Areas.Admin.ViewModels.Users.ResetPasswordViewModel

@{
	ViewBag.Title = "Reset Password: " + Model.Username;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.UserId)

	<div class="form">
		@Html.ValidationSummary(true, "", new { @class = "form__errors" })

		<div class="form__body">
			<div class="form__row">
				@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form__label" })
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form__input" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "form__field-error" })
			</div>

			<div class="form__row">
				@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form__label" })
				@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form__input" } })
				@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "form__field-error" })
			</div>

			<div class="form__row">
				<input type="submit" value="Save" class="button button--accent" />
				<a class="button" href="@Url.RouteUrl("AdminUsersList")">Cancel</a>
			</div>
		</div>
	</div>
}

@section scripts {
	<script>
		$(function () {
			$('#Password').focus();
		});
	</script>
}